---
layout: default
title: Dana Silver
---

{% include splash.html %}
<div class="posts">
  <ul>
    {% for post in site.posts limit:10  %}
      <a href="{{ post.url }}"><li><span class="title">{{ post.title }}</span><span class="date">{{ post.date | date: "%b %d, %Y"}}</span></li></a>
    {% endfor %}
  </ul>
  <hr>
  <ul>
    {% for page in site.pages %}
        {% if page.layout == "project" %}
            <a href="{{ page.url }}"><li><span class="title">{{ page.title }}</span><span class="date">{{ page.date | date: "%b %d, %Y"}}</span></li></a>
        {% endif %}
    {% endfor %}
  </ul>
</div>