{% extends "templates/_base.html" %}

{% block title %}Django Dana Time{% endblock %}

{% set date = "February 2, 2014" %}

{% block styles %}
  <style>
  table {
    border-spacing: none;
    border-collapse: collapse;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
  tr {
    border-spacing: inherit;
  }
  td, th {
    padding: 7px;
    border-spacing: inherit;
    text-align: left;
  }
  tr:nth-child(2n) {
    background-color: #d9d9d9;
  }
  </style>
{% endblock %}

{% block content %}
<article>
<p class="date">Updated February 2, 2014</p>
<h1>Django Dana Time</h1>

<h2>If Django Humanize were a little more human</h2>

<p>This project is open source. The code can be found at
<a href="github.com/danasilver/django-dana-time">https://github.com/danasilver/django-dana-time</a>.

<h3>Purpose</h3>

<p><a href="https://docs.djangoproject.com/en/dev/ref/contrib/humanize/">Django Humanize</a>
is a great tool to produce human readable times, dates, and numbers. However
<code>humanize.naturaltime</code> falls back to Django's
<a href="https://docs.djangoproject.com/en/dev/ref/templates/builtins/#std:templatefilter-timesince">timesince</a>
template filter if the date is more than a day old. Timesince might return
something like "20 days, 5 hours," which is overly verbose for how long ago the
date was. It's more useful to know a month and date at that point than mentally
counting back 20 days and 5 hours. This becomes even more problematic when the
date is over a year ago.</p>

<p><a href="https://github.com/danasilver/django-dana-time">Django Dana Time</a>
solves this problem by falling back to real times and dates that humans can
quickly understand when the date is more than a day old. See the formatting
examples below for full details.</p>

<h3>Formatting</h3>

<table>
  <thead>
    <tr>
      <th>timedelta</th>
      <th>danatime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1 second</td>
      <td>a second ago</td>
    </tr>
    <tr>
      <td>2 - 60 seconds</td>
      <td>2 - 60 seconds ago</td>
    </tr>
    <tr>
      <td>1 minute</td>
      <td>a minute ago</td>
    </tr>
    <tr>
      <td>2 - 60 minutes</td>
      <td>2 - 60 minutes ago</td>
    </tr>
    <tr>
      <td>1 hour, same day</td>
      <td>an hour ago</td>
    </tr>
    <tr>
      <td>2 - 6 hours, same day</td>
      <td>2 - 6 hours ago</td>
    </tr>
    <tr>
      <td>6 - 24 hours, same day</td>
      <td>4:26 pm (12 hour)</td>
    </tr>
    <tr>
      <td>&lt; 24 hours, same year</td>
      <td>Aug 10</td>
    </tr>
    <tr>
      <td>previous year</td>
      <td>8/10/12</td>
    </tr>
  </tbody>
</table>

<h3>Use</h3>

<p>Save <code>danatime.py</code> in your Django app or project.</p>

<p>Load the filter:</p>

<pre><code>
{% raw %}
{% load danatime %}
{% endraw %}
</code></pre>

<p>Use the filter:</p>

<pre><code>
{% raw %}
{% mytime|danatime %}
{% endraw %}
</code></pre>

<h3>Development</h3>

<p>Issues and pull requests are welcome. You can open one at
<a href="github.com/danasilver/django-dana-time/issues">https://github.com/danasilver/django-dana-time/issues</a>.

</article>

{% include "includes/footer.html" %}

<script src="/vendor/highlight/highlight.pack.js" charset="utf-8"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/vendor/d3/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}