<div class="header">
  <div class="container">
    <a href="/" class="site-name">Dana Silver</a>
    <span class="navigation-main">
      <span class="nav projects"><a href="#">Projects</a></span>
      <span class="nav about"><a href="#">About</a></span>
      <span class="nav resume"><a href="#">Resume</a></span>
    </span>
    <a id="navigation-mobile"><img src="/static/imgs/glyphicons_158_show_lines.png"/></a>
    <div id="navigation-mobile-dropdown" class="hide">
      <div class="nav projects"><a href="#">Projects</a></div>
      <div class="nav about"><a href="#">About</a></div>
      <div class="nav resume"><a href="#">Resume</a></div>
    </div>
  </div>
</div>