<div class="header">
  <div class="container">
    <a href="/" class="site-name">Dana Silver</a>
    <span class="navigation-main">
      <span class="nav"><a href="/projects">Projects</a></span>
      <span class="nav"><a href="https://www.github.com/danasilver">Github</a></span>
      <span class="nav"><a href="/resume">Resume</a></span>
    </span>
    <a id="navigation-mobile"><img src="/static/imgs/glyphicons_158_show_lines.png"/></a>
    <div id="navigation-mobile-dropdown" class="hide">
      <div class="nav"><a href="/projects">Projects</a></div>
      <div class="nav"><a href="https://www.github.com/danasilver">Github</a></div>
      <div class="nav"><a href="/resume">Resume</a></div>
    </div>
  </div>
</div>