<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="/static/imgs/favicon.ico">
        <link rel="stylesheet" href="/static/css/tomorrow_syntax.css">
        <link rel="stylesheet" href="/static/css/ag.css">

        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/hcmnnfdhfkhonkonabfebpkjggndbbno">
        <script type="text/javascript">
        var _gaq = _gaq || [];
        var pluginUrl =
         '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
        _gaq.push(['_setAccount', 'UA-46756115-1']);
        _gaq.push(['_setDomainName', 'danasilver.org']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </head>
    <body>
      {% include header.html %}
      <div class="content">
        <div class="container">
          {{ content }}
        </div>
        <div class="footer">
          <div class="container">
          <div class="line"></div>
            <ul class="links">
              <li><a target="blank" href="mailto:dsilver1221@gmail.com">Email</a></li>
              <li><a target="blank" href="https://twitter.com/danarsilver">Twitter</a></li>
              <li><a target="blank" href="https://linkedin.com/in/danarsilver">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </div>
      <script src="/static/min.js/main.min.js"></script>
    </body>
</html>
