<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="static/imgs/favicon.ico">
        <link rel="stylesheet" href="static/css/syntax.css">
        <link rel="stylesheet" href="static/css/ag.css">

    </head>
    <body>
      <div class="header">
        <div class="container">
          <span class="site-name">dana.<span id="ag">ag</span><span id="silver">silver</span></span>
          <span class="navigation">
            <span class="nav bits"><a href="#">Bits</a></span>
            <span class="nav projects"><a href="#">Projects</a></span>
            <span class="nav about"><a href="#">About</a></span>
            <span class="nav resume"><a href="#">Resume</a></span>
          </span>
        </div>
      </div>
      <div class="content">
        <div class="container">
          {{ content }}
        </div>
      </div>
    </body>
</html>
